#stuff {
  position:absolute;
   top:50%;
   left:50%;
   margin: 0 auto;
   padding:15px;
   -ms-transform: translateX(-50%)translateY(-80%);
   -webkit-transform: translate(-50%,-80%);
   transform: translate(-50%,-80%);
   width:600px;
   background: rgba(255,255,255,0.3)
}

body {
  background-image:url("https://metrouk2.files.wordpress.com/2015/02/ad_158583848.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

#temperature {
  font-family: Open Sans;
  color: orange;

}
